.loginContainer {
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: #949494;
  display: grid;
  place-items: center;
  position: relative;
}

.loginForm {
  background-color: var(--light-green);
  height: calc(100% - 150px);
  border-radius: 8px;
  aspect-ratio: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  justify-content: center;
  gap: 40px;
  padding-bottom: 25px;
  // padding: 0px 75px;
}

.loginContainer .loginTitle {
  color: var(--dark-green);
  font-family: Geologica;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 73.5px;
  margin: 0px;
  text-align: center;
  margin-bottom: 20px;
}

.field {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: 14px;
  position: relative;
  width: 75%;
}

.loginContainer p {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0px;
}

.field input {
  outline: none;
  border: none;
  padding: 16px 8px;
  border-radius: 8px;
  background: #efefef;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  // color: #767676;
  width: 100%;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
}

.button {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  border-radius: 8px;
  padding: 12px 32px;
  color: white;
  background-color: var(--dark-green);
}

.accentButton {
  border: 1px solid var(--dark-green);
  color: black !important;
  background-color: transparent !important;
}
