.introVideo {
  // background-color: #949494;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.introVideo img {
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
}

.overlay {
  position: absolute;
  bottom: 10%;
  left: 100px;
  display: flex;
  flex-flow: column nowrap;
  gap: 54px;
}

.title {
  color: #fff;
  font-family: Geologica;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 73.5px;
  max-width: 750px;
  margin: 0px;
}

.landingPage .button {
  display: block;
  margin: 0px;
  width: fit-content;
  color: var(--brown);
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--orange);
  border-radius: 8px;
  padding: 7px 32px;
}

.mission {
  padding: 50px 80px;
  display: flex;
  flex-flow: column nowrap;
  gap: 100px;
  margin-bottom: 80px;
}

.mission p {
  color: var(--dark-green);
  border-bottom: 7px solid var(--orange);
}

p {
  display: block;
  width: fit-content;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.776px;
  margin: 0px;
}

blockquote {
  position: relative;
  width: 726px;
  color: #000;
  font-family: Geologica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
}

blockquote strong {
  color: var(--dark-green);
}

blockquote:after {
  display: block;
  padding-left: 10px;
  content: '\201C';
  font-size: 100px;
  position: absolute;
  font-family: Geologica;
  font-size: 156px;
  left: -90px;
  bottom: -90px;
  color: var(--dark-green);
  transform: rotate(180deg);
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: '\201C';
  font-size: 100px;
  position: absolute;
  font-family: Geologica;
  font-size: 156px;
  right: -55px;
  top: -70px;
  color: var(--dark-green);
}

.testimony {
  padding: 24px 80px;
  display: flex;
  flex-flow: column nowrap;
  gap: 35px;
  background-color: var(--light-green);
  padding-bottom: 48px;
}

.testimony p {
  color: #171717;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.776px;
  border-bottom: 7px solid var(--dark-green);
  display: block;
  width: fit-content;
}

.testimony strong {
  color: #002500;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.776px;
}

.testimonies {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;
}

.testimonyRect {
  background-color: #d9d9d9;
  aspect-ratio: 1.6;
  flex-grow: 1;
}

.facku {
  height: 682px;
  padding: 50px 80px;
  padding-bottom: 100px;
  display: flex;
  flex-flow: column nowrap;
  gap: 57px;
}

.facku p {
  color: var(--dark-green);
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.776px;
  display: block;
  width: fit-content;
}

.facku > p {
  border-bottom: 7px solid var(--orange);
}

.fackQ {
  display: flex;
  flex-flow: column nowrap;
  gap: 0px;
}

.question {
  border-left: 5px solid var(--dark-green);
  display: flex;
  flex-flow: row nowrap;
  gap: 36px;
  align-items: center;
  padding-left: 14px;
}

.question:before {
  content: 'В.';
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 51.776px;
  color: var(--dark-green);
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.776px;
}

.question p {
  color: var(--dark-green);
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.answer {
  border-left: 5px solid #009800;
  display: flex;
  flex-flow: row nowrap;
  gap: 36px;
  align-items: center;
  padding-left: 10px;
}

.answer:before {
  content: 'O.';
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.776px;
  color: #009800;
}

.answer p {
  color: var(--dark-green);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.motto {
  padding-top: 180px;
  display: flex;
  flex-flow: column nowrap;
  gap: 57px;
}

.motto > p {
  margin-left: 80px;
  color: var(--dark-green);
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.776px;
  display: block;
  width: fit-content;
  border-bottom: 7px solid var(--orange);
}

.mottoContainer {
  width: 100%;
  height: 224px;
  background-color: var(--dark-green);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  position: relative;
}

.baba {
  width: 344px;
  height: 394px;
  background-color: #605a5a;
  position: absolute;
  bottom: 0px;
  right: 157px;
}

.mottoContainer p {
  color: #fff;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.776px;
  position: relative;
  right: 545px;
}

.partners {
  padding-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  gap: 57px;
  margin-bottom: 69px;
}

.partners > p {
  margin-left: 80px;
  color: var(--dark-green);
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.776px;
  display: block;
  width: fit-content;
  border-bottom: 7px solid var(--orange);
}

.partnerList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.partner {
  width: 179px;
  height: 92px;
  background-color: #503f3f;
}

.partners .button {
  align-self: center;
  padding-left: 32px;
  margin-top: 20px;
}

.partnerSignupContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 160px;
}

.partnerSignupContainer .button {
  box-shadow: 4px 6px 16px 0px rgba(0, 0, 0, 0.1), 18px 23px 29px 0px rgba(0, 0, 0, 0.09), 40px 53px 39px 0px rgba(0, 0, 0, 0.05),
    70px 94px 47px 0px rgba(0, 0, 0, 0.01), 110px 146px 51px 0px rgba(0, 0, 0, 0);
}

.partnerText {
  width: 550px;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
