.section {
  width: 100%;
  height: 100vh;
  background-color: gray;
}

.youCanFindUsHereContainer{
  padding: 10px;
  // border: solid 1px black
}

.teamCardsContainer {
  display: grid;
  grid-template-rows: 1fr 1fr; 
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  gap: 30px;
  margin:60px;
  margin-bottom:120px;
}

.phoneIcon img {
  vertical-align: middle;
  // padding-left: 5px;
}

.iconText{
  margin-left: 10px;
}

.informationTitle{
  text-decoration: underline;
    text-decoration-color: #FFD600;
    margin: 40px;
}