.footer {
  // margin-top: 69px;
  padding-top: 29px;
  background-color: var(--dark-green);
  height: 233px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.footerSection {
  display: flex;
  flex-flow: column nowrap;
  gap: 18px;
}

.footerLogo {
  // width: 126px;
  width: 181px;
  // aspect-ratio: 1;
  // background-color: #656262;
  align-self: center;
}

.noUnderline {
  border-bottom: none !important;
}

.footer p {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  border-bottom: 3px solid white;
  display: block;
  width: fit-content;
  padding-bottom: 4px;
}

.icon {
  width: 25px;
  height: 25px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
}

.row p {
  color: var(--light-green);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  border-bottom: none;
}

.socials {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

a {
  text-decoration: none;
}
