@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Jost&family=Raleway&display=swap');

:root {
  --header-height: 96px;
}

html,
body {
  margin: 0px;
  overflow-x: hidden;
}

.page {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100vw;
  min-height: 100vh;
}
