.personalInformationCard {
  // padding : 10px;
  // border: solid 1px red;
  // padding: 30px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
}

.cardImageContainer img {
  // margin: 20px;
  object-position: center -1px;
}

.cardPersonInformation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-self: stretch;
  // padding-left: 55px;
}

.cardPersonInformation .namePerson {
  color: #002500;
  //styleName: body bold;
  font-family: Geologica;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.cardPersonInformation .positionPerson {
  color: rgba(0, 37, 0, 0.6);
  font-family: Geologica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.034px;
  letter-spacing: 0em;
  text-align: left;
}

.tempImageDiv {
  width: 226px;
  height: 266;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: contain;
}

.containerInformationCard {
  // border: solid 1px blue;
  background-color: #cbff8c;
  // padding: 30px 45px;
  padding: 25px;
}

.cardBottom {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.audioButton {
  cursor: pointer;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
